<?xml version="1.0"?>
<configdata>
    <copyright>copyright 2010. EarthWalk Software.  Created by Jay Wheeler.</copyright>
    <production>
        <verbose>0</verbose>
        <form>
            <formurl>https://localhost/EWS/EarthWalkVillage/PHP/index.php</formurl>
            <usedefaultdata>1</usedefaultdata>
            <defaultdata>
                <document>ewvillage</document>
            </defaultdata>
        </form>
        <timezone>America/Denver</timezone>
        <paths>
            <installroot>/var/www/EWS/</installroot>
            <ewslibrary>/var/www/EWS/</ewslibrary>
            <zend>/usr/share/php</zend>
        </paths>
        <database>
            <driver>mysql</driver>
            <host>localhost</host>
            <user>jay</user>
            <password>7mcMF596gcYa</password>
            <db>ewvillage</db>
            <suppress>1</suppress>
        </database>
        <log>
            <programname>EWSLibraryTests</programname>
            <driver>file</driver>
            <type>stream</type>
            <level>EWSLibrary_Log::LOG_BSD_ERR</level>
            <name>/var/logs/EWSLibraryTests.log</name>
            <mode>a</mode>
            <suppress>true</suppress>
            <format>log</format>
        </log>    
        <data>
            <path>/home/jay/Temp</path>
        </data>
        <drivers>
            <file>native</file>
            <xml>native</xml>
        </drivers>
    </production>
    <development extends="production">
        <verbose>0</verbose>
        <form>
            <usedefaultdata>1</usedefaultdata>
            <defaultdata>
                <document>ewvillage</document>
            </defaultdata>
            <formurl>https://localhost/~jay/EWS/EarthWalkVillage/PHP/index.php</formurl>
        </form>
        <paths>
            <installroot>/home/jay/Development/EWS/</installroot>
            <ewslibrary>/home/jay/Development/EWS/</ewslibrary>
            <zend>/usr/share/php</zend>
        </paths>
        <database>
            <driver>mysql</driver>
            <db>ewvillage</db>
            <user>jay</user>
            <password>7mcMF596gcYa</password>
            <host>localhost</host>
            <suppress>1</suppress>
        </database>
        <log>
            <level>EWSLibrary_Log::LOG_BSD_DEBUG</level>
        </log>
        <data>
            <path>/home/jay/Temp</path>
        </data>
    </development>
    <testing extends="production">
        <verbose>2</verbose>
        <database>
            <driver>mysqli</driver>
            <db>MyTestDB</db>
            <user>jay</user>
            <password>7mcMF596gcYa</password>
            <host>localhost</host>
            <suppress>1</suppress>
        </database>
        <log>
            <driver>file</driver>
            <type>native</type>
            <level>EWSLibrary_Log::LOG_BSD_DEBUG</level>
            <name>/home/jay/Logs/EWSLibraryTests.log</name>
            <mode>w</mode>
        </log>
        <paths>
            <installroot>/home/jay/Development/EWS/</installroot>
            <ewslibrary>/home/jay/Development/EWS/</ewslibrary>
            <zend>/usr/share/php</zend>
        </paths>
        <data>
            <path>/home/jay/Development</path>
        </data>
        <testdata>
            <dbtable>Employee</dbtable>
        </testdata>
    </testing>
</configdata>
